#para{
    font-family: sans-serif;
    font-size: medium;
    background-color:hotpink;

}
#img{
border-radius: 10px;
}
html{
    background-color: bisque;
}
#bt{
    background: brown;
    
}
#ah{
border-color: black;
}